version: '3.8'
services:
  backend:
    build:
      context: ./
      dockerfile: ./backend/Dockerfile
    ports:
      - "8001:8001"
    environment:
      - RUST_LOG=debug
      - BACKEND_ADDRESS=0.0.0.0:8001
      - BACKEND_REDIS_URL=redis://valkey:6379
    depends_on:
      - valkey

  gateway:
    build:
      context: ./gateway
    ports:
      - "8004:8004"
    environment:
      - BACKEND=backend:8001
    depends_on:
      - backend

  mcp:
    build:
      context: ./mcp
    ports:
      - "8002:8002"
    environment:
      - BACKEND_HOST=backend
      - SERVER_HOST=0.0.0.0
    depends_on:
      - backend

  service:
    build:
      context: ./service
    ports:
      - "8003:8003"
    environment:
      - BACKEND_URL=backend:8001
      - MCP_ADDRESS=http://mcp:8002/mcp
      - TEMPORAL_HOST=host.docker.internal
      - TEMPORAL_PORT=7233
      - OPENAI_API_BASE=http://host.docker.internal:11434/v1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - mcp

  ui:
    build:
      context: ./ui
    ports:
      - "8005:80"
    depends_on:
      - gateway

  valkey:
    image: valkey/valkey:8.1.3
    ports:
      - 6380:6379
