apiVersion: v1
kind: Service
metadata:
    name: ui
spec:
    selector:
        app: ui
    ports:
        - port: 80
          targetPort: 80
          protocol: TCP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-config
data:
  config.json: |
    {
      "api_url": "https://queue.stg.austinbayley.co.uk",
      "queue": "default",
      "user": "austin"
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  labels:
    app: ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
      annotations:
        instrumentation.opentelemetry.io/inject-nginx: "true"
    spec:
      containers:
        - name: ui
          image: europe-west2-docker.pkg.dev/portfolio-463406/docker-repository/queue_ui
          ports:
            - containerPort: 80
          env:
            - name: PORT
              value: "80"
          volumeMounts:
            - name: ui-config
              mountPath: /usr/share/nginx/html/config.json
              subPath: config.json
      imagePullSecrets:
        - name: gcp-pull-secret
      volumes:
        - name: ui-config
          configMap:
            name: ui-config