apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: backend
      port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        ebpf.instrument: "true"
    spec:
      containers:
        - name: backend
          image: europe-west2-docker.pkg.dev/portfolio-463406/docker-repository/queue_backend
          ports:
            - containerPort: 80
          env:
            - name: BACKEND_ADDRESS
              value: "0.0.0.0:80"
            - name: BACKEND_REDIS_URL
              value: "redis://valkey:6379"
            - name: RUST_LOG
              value: "info"
      imagePullSecrets:
        - name: gcp-pull-secret
---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  labels:
    app: valkey
spec:
  selector:
    app: valkey
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey
  labels:
    app: valkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
      annotations:
        ebpf.instrument: "true"
    spec:
      containers:
        - name: valkey
          image: valkey/valkey:8.1.3
          ports:
            - containerPort: 6379